@{
    ViewBag.Title = "Docentes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <a href="#" onclick="PopupForm('@Url.Action("Create","Docentes")', 'Crear Docente')">Crear <i class="glyphicon glyphicon-edit"></i></a>
</p>
<table class="table table-striped table-hover" id="docentesTabla">
    <thead>
        <tr>
            <th>
                Departamento
            </th>
            <th>
                Especialidad
            </th>
            <th>
                Nombre
            </th>
            <th>
                Apellido
            </th>
            <th>
                Telefono
            </th>
            <th>
                Correo
            </th>
            <th>Opciones</th>
        </tr>
    </thead>
</table>
@section scripts
{
<script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
<script src="~/Scripts/DataTables/dataTables.jqueryui.min.js"></script>
<script src="~/Scripts/crud.js"></script>
<script>
    var Popup, dataTable;
    $(document).ready(function () {
        dataTable = $("#docentesTabla").DataTable({
            "ajax": {
                "url": "/Docentes/getDocentes",
                "type": "GET",
                "datatype": "json"
            },
            "columns": [
                { "data": "Departamento.nombre" },
                { "data": "Especialidad.nombre" },
                { "data": "Nombre" },
                { "data": "Apellido" },
                { "data": "Telefono" },
                { "data": "Email" },
                {
                    "data": "DocenteId", "render": function (data) {
                        return "<a href='#' onclick=PopupForm('@Url.Action("Create","Docentes")/" + data + "','Editar')><i class='fa fa-pencil'></i> Editar </a> |<a href='#' style='margin-left:1px' onclick=Delete('/Docentes/Delete/" + data + "')><i class='fa fa-trash'></i> Borrar</a>";
                    },
                    "orderable": false,
                    "searcheable": false
                }
            ], "language": {
                "emptyTable": "No hay Docentes registrados",
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
            }
        });
    });

</script>
}