@{
    ViewBag.Title = "Departamentos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<p>
    <a href="#" onclick="PopupForm('@Url.Action("Create","Dpto")','Nuevo Departamento')">Crear <i class="glyphicon glyphicon-edit"></i></a>
</p>
<table class="table table-condensed table-responsive table-striped" id="tblDepartamentos">
    <thead>
        <tr>
            <th>
                Departamento
            </th>
            <th>
                Mision
            </th>
            <th>
                Vision
            </th>
            <th>
                Historia
            </th>
            <th>
                Ubicacion
            </th>
            <th>
                Organizacion
            </th>
            <th>Opciones</th>
        </tr>
    </thead>
</table>
@section scripts
{
<script src="~/Scripts/crud.js"></script>
<script>
    var Popup, dataTable;
    $(document).ready(function () {
        dataTable = $("#tblDepartamentos").DataTable({
            "ajax": {
                "url": "/Dpto/getDepartamentos",
                "type": "GET",
                "datatype": "json"
            },
            "columns": [
                { "data": "nombre" },
                { "data": "mision" },
                { "data": "vision" },
                { "data": "historia" },
                { "data": "ubicacion" },
                { "data": "organizacion" },
                {
                    "data": "id_departamento", "render": function (data) {
                    return "<a href='#' onclick=PopupForm('@Url.Action("Create","Prestamos")/" + data + "','Editar')><i class='fa fa-pencil'></i> Editar </a> |<a href='#' style='margin-left:1px' onclick=Delete('/Prestamos/Delete/"+data+"')><i class='fa fa-trash'></i> Borrar</a>";
                },
                    "orderable": false,
                    "searcheable": false,
                    "width": "130px"
                }
            ],
            "language": {
                "emptyTable": "No hay departamentos en el sistema",
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json",
            }
        });
    });
</script>
}

