@model IEnumerable<Proyectores.Models.Proyector>

@{
    ViewBag.Title = "Proyectores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>
    <a href="#" onclick="PopupForm('@Url.Action("Crear","Proyectores")','Nuevo Proyector')">Crear <i class="glyphicon glyphicon-edit"></i></a>
</p>
<table class="table table-hover table-striped table-responsive" id="tableProyectores">
    <thead>
        <tr>
            <th>
                Marca
            </th>
            <th>
                Modelo
            </th>
            <th>
                Estado
            </th>
            <th>Opciones</th>
        </tr>
    </thead>
</table>
@section scripts
{
<script src="~/Scripts/crud.js"></script>
<script>

    var Popup, dataTable;
    //Cargando tabla de proyectores
    $(document).ready(function () {
        dataTable = $("#tableProyectores").DataTable({
            "ajax": {
                "type": "GET",
                "datatype": "JSON",
                "url": "/Proyectores/getProyectores"
            },
            "columns": [
                { "data": "marca" },
                { "data": "nombre" },
                { "data": "estado" },
                {"data": "id_proyector", "render": function (data) {
                    return "<a href='#' onclick=Editar('@Url.Action("Crear","Proyectores")/" + data + "')><i class='fa fa-pencil'></i> Editar </a> |<a href='#' style='margin-left:1px' onclick=Delete('@Url.Action("Delete","Proyectores")/" + data + "')><i class='fa fa-trash'></i> Borrar</a>";
                },
                    "orderable": false,
                    "searcheable": false,
                    "width": "130px"
                }
                
            ],
            "language":
                {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                }
        });

    });
</script>
}
